<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Firebase Cloud Messaging Example</title>

  <!-- Material Design Theming -->
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-indigo.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="stylesheet" href="C:/Users/w1004/Documents/GitHub/push_server/tutorial/quickstart/templates/quickstart/main.css">
  <link rel="manifest" href="C:/Users/w1004/Documents/GitHub/push_server/tutorial/quickstart/templates/quickstart/quickstart/manifest.json">
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header section containing title -->
  <header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
        <h3>Firebase Cloud Messaging</h3>
      </div>
    </div>
  </header>

  
  <main class="mdl-layout__content mdl-color--grey-200">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          
          <div id="token_div" >
            <h4>Registration Token</h4>
            <p id="token" style="word-break: break-all;"></p>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            id="Check" onclick="resetUI();"> Off </button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            id="send" onclick="send();"> Send1</button>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            onclick="send2();"> Send2</button>
          </div>

          <div id="permission_div">
            <h4>Needs Permission</h4>
            <p id="token"></p>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    onclick="requestPermission()">Request Permission</button>
          </div>

          <div id="messages">
           
          </div>
        </div>
      </div>

    </div>
  </main>
</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyBfLYQieTSNFJVghLmwPidH9eMLJ8sgafA",
    authDomain: "push-server-56a52.firebaseapp.com",
    databaseURL: "https://push-server-56a52.firebaseio.com",
    projectId: "push-server-56a52",
    storageBucket: "push-server-56a52.appspot.com",
    messagingSenderId: "967213415011",
    appId: "1:967213415011:web:ad877f78d7eff7212dd656",
    measurementId: "G-MDVS63TX7X"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

  const messaging = firebase.messaging();
  const tokenDivId = 'token_div';
  const permissionDivId = 'permission_div';
  messaging.onMessage((payload) => {
    console.log('Message received. ', payload);
    appendMessage(payload);
    // [END_EXCLUDE]
  });

  function send(){
    var key = 'AAAA4TJpemM:APA91bEiBA1-WIo92NZ-k0sbWZAvz0Z3Rwb_fGCu-gNnSz9SVRYdU7aJQZfVdrBku1eFiW4-PuRvIyf_ubGjOzDZ8dVQeGD-inU24KhaDj-qHHgSwRZUUjkJeVPS7V0amo7EARFB_m07';
    var to = 'BNe0FkSflOmQ7Fbqy9tymAl0-7W8GpJXdiQ9wal0BUPrMDMP--DVNWkhF8Bhy6CXlPsSNkY1zoNOXsnTacPzF-8';
    var notification = {
      'title': 'Portugal vs. Denmark',
      'body': '5 to 1',
    };

    fetch('https://fcm.googleapis.com/fcm/send', {
      'method': 'POST',
      'headers': {
        'Authorization': 'key=' + key,
        'Content-Type': 'application/json'
      },
      'body': JSON.stringify({
        'notification': notification,
        'to': to
      })
    }).then(function(response) {
      console.log(response);
    }).catch(function(error) {
      console.error(error);
    })
  }

  function send2(){
    // This registration token comes from the client FCM SDKs.
    var registrationToken = 'BNe0FkSflOmQ7Fbqy9tymAl0-7W8GpJXdiQ9wal0BUPrMDMP--DVNWkhF8Bhy6CXlPsSNkY1zoNOXsnTacPzF-8';

    var message = {
      data: {
        score: '850',
        time: '2:45'
      },
      token: registrationToken
    };

    // Send a message to the device corresponding to the provided
    // registration token.
    admin.messaging().send(message)
      .then((response) => {
        // Response is a message ID string.
        console.log('Successfully sent message:', response);
      })
      .catch((error) => {
        console.log('Error sending message:', error);
      });
  }

  function resetUI() {
    clearMessages();
    showToken('loading...');
    document.getElementById("Check").innerHTML="ON";
    
    messaging.getToken({vapidKey: 'BNe0FkSflOmQ7Fbqy9tymAl0-7W8GpJXdiQ9wal0BUPrMDMP--DVNWkhF8Bhy6CXlPsSNkY1zoNOXsnTacPzF-8'}).then((currentToken) => {
      appendMessage(currentToken);
      if (currentToken) {
        showToken('now...');
        sendTokenToServer(currentToken);
        updateUIForPushEnabled(currentToken);
      } else {
        showToken('past...');
        console.log('No registration token available. Request permission to generate one.');
        // Show permission UI.
        updateUIForPushPermissionRequired();
        setTokenSentToServer(false);
      }
    }).catch((err) => {
      console.log('An error occurred while retrieving token. ', err);
      showToken('Error retrieving registration token. ', err);
      setTokenSentToServer(false);
    });
    // [END get_token]
  }


  function showToken(currentToken) {
    // Show token in console and UI.
    const tokenElement = document.querySelector('#token');
    tokenElement.textContent = currentToken;
  }
  function sendTokenToServer(currentToken) {
    if (!isTokenSentToServer()) {
      console.log('Sending token to server...');
      // TODO(developer): Send the current token to your server.
      setTokenSentToServer(true);
    } else {
      console.log('Token already sent to server so won\'t send it again ' +
          'unless it changes');
    }

  }

  function isTokenSentToServer() {
    return window.localStorage.getItem('sentToServer') === '1';
  }

  function setTokenSentToServer(sent) {
    window.localStorage.setItem('sentToServer', sent ? '1' : '0');
  }

  function showHideDiv(divId, show) {
    const div = document.querySelector('#' + divId);
    if (show) {
      div.style = 'display: visible';
    } else {
      div.style = 'display: none';
    }
  }

  function requestPermission() {
    console.log('Requesting permission...');
    // [START request_permission]
    Notification.requestPermission().then((permission) => {
      if (permission === 'granted') {
        console.log('Notification permission granted.');
        // TODO(developer): Retrieve a registration token for use with FCM.
        // [START_EXCLUDE]
        // In many cases once an app has been granted notification permission,
        // it should update its UI reflecting this.
        resetUI();
        // [END_EXCLUDE]
      } else {
        console.log('Unable to get permission to notify.');
      }
    });
    // [END request_permission]
  }

  // Add a message to the messages element.
  function appendMessage(payload) {
    showToken(payload);
    const messagesElement = document.querySelector('#messages');
    const dataHeaderElement = document.createElement('h5');
    const dataElement = document.createElement('pre');
    dataElement.style = 'overflow-x:hidden;';
    dataHeaderElement.textContent = 'Received message:';
    dataElement.textContent = JSON.stringify(payload, null, 2);
    messagesElement.appendChild(dataHeaderElement);
    messagesElement.appendChild(dataElement);
  }

  // Clear the messages element of all children.
  function clearMessages() {
    const messagesElement = document.querySelector('#messages');
    while (messagesElement.hasChildNodes()) {
      messagesElement.removeChild(messagesElement.lastChild);
    }
  }

  function updateUIForPushEnabled(currentToken) {
    showHideDiv(tokenDivId, true);
    showHideDiv(permissionDivId, false);
    showToken(currentToken);
  }

  function updateUIForPushPermissionRequired() {
    showHideDiv(tokenDivId, false);
    showHideDiv(permissionDivId, true);
  }

  resetUI();

</script>
</body>
</html>